/* @media (max-width: 1280px){
  .headerSection{display:block; width: auto; top: 0; bottom: 0; left:0; right: 0; position: relative; margin: auto; overflow: hidden;}

}
@media (max-width: 1000px){
  .navBox .mainNav li{padding: 5px;}
} */



@media (max-width: 1200px){
  .nav .navBox{padding: 10px 10px ;}

  .navBox .mainNav li{padding: 0 10px;}
  .newsSection .newsBoxes .newsImgSec>a{height: 150px;}
}



@media (max-width: 1024px){
  .nav .navBox{padding: 10px 10px;}
  .nav .navBox .navLogo{width: 10%;}
  .navBox .navList{width: 90%;}


  .newYearBanner .detailTxt h1{font-size: 30px;}

  .newsSection .newsLeftBox{width: 100%;}
  .newsSection .newsRightBox{width: 100%;}
  
  /* .newsSection .newsBoxes .newsImgSec>a{height: 100px;} */
}