/* @media (max-width: 1280px){
  .headerSection{display:block; width: auto; top: 0; bottom: 0; left:0; right: 0; position: relative; margin: auto; overflow: hidden;}

}
@media (max-width: 1000px){
  .navBox .mainNav li{padding: 5px;}
} */